# RStudio
.Rproj.user/
*.Rproj

# Historique R
.Rhistory
.RData
.Ruserdata

# Outputs
*.html
*.pdf
*.png
*.jpg
*.jpeg

# Data locales
data_raw/
data_tmp/
*.csv
*.xlsx

# Spatial files lourds
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.gpkg

# OS
.DS_Store
Thumbs.db




